canvas {
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 3px 3px 2px;
}

#peer-review {
    width: 200px;
    height: 250px;
}

#point-distribution {
    width: 200px;
    height: 250px;
}
